#about {
  width: 100%;
  margin: 0px auto;
  height: 500px;
  position: relative;
  padding: 40px 0px;
}

/* ----> image slider */

.image-slider {
  height: 100%;
}

.image-wrapper {
  height: 100%;
  position: relative;
}

.about-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100%;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 50%;
  display: none;
  transform: translateX(-50%);
  box-shadow: 4px 4px 10px 2px black;
}

.show {
  display: block;
}

.controller {
  width: 100%;
  position: absolute;
  top: 50%;
  display: flex;
}

.slide-btn {
  position: absolute;
  width: 60px;
  height: 40px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  cursor: pointer;
  border: 3px solid var(--deep-green);
  background-color: white;
}

.slide-btn i {
  color: var(--deep-green);
  font-size: 22px;
}

.prev {
  left: -3px;
}

.next {
  right: -3px;
}

.slide-btn:hover {
  background-color: var(--deep-green);
  transform: scale(1.1);
}

.slide-btn:hover i {
  color: white;
}

/* ----> dot */
.slider-dot-control {
  width: 120px;
  padding: 30px 0px;
  margin: 0 auto;
}

.dot {
  display: inline-block;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 4px;
  background-color: #bbb;
  cursor: pointer;
  padding: 2px;
}

.dot:hover {
  background-color: #717171;
}

.active {
  background-color: #717171;
}

/* ----> leaves */

.leaf {
  display: block;
  width: 110px;
  position: absolute;
  z-index: -100;
}

.leaf-blue {
  top: 70%;
  transform: rotate(10deg);
}

.leaf-green {
  top: 2%;
  left: 13%;
  transform: rotate(-5deg);
}

.leaf-red--big {
  top: 0;
  right: 5%;
  transform: rotate(10deg);
}

.leaf-red--small {
  top: 50%;
  left: 10%;
  transform: rotate(-20deg);
}
