#bakery {
  background-color: var(--deep-green);
  display: flex;
  justify-content: space-between;
  height: 70vh;
}

/* Bakery left */

/* Bakery right */

.bakery-right {
  width: 50%;
}

.section-title,
.section-description h3,
.section-btn {
  color: #ffffff;
}

.section-btn {
  border: 1px solid #ffffff;
}

.section-btn:hover {
  background-color: rgba(245, 245, 245, 0.397);
}
