#coffee {
  margin-top: 70px;
  display: Flex;
  justify-content: space-between;
  height: 70vh;
}

/* coffee-left */

/* coffee-right */

.brown-latte {
  background: url("/images/brown-latte.JPG");
}

.bakery-image {
  background: url("/images/bakery-main.jpeg");
}

.section-image {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
  cursor: pointer;
  transition: all 0.25s ease-in;
}

.section-image:hover {
  filter: grayscale(0);
  transform: scale(1.04);
}
