#crew {
  height: 55vh;
  background-color: var(--light-brown);
  display: Flex;
  justify-content: space-between;
}

.crew-image-container {
  display: flex;
  position: relative;
  overflow: visible;
  width: 50%;
  margin: 35px;
}

.crew-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.crew-image:nth-child(1) {
  width: 28%;
  left: 10%;
}

.crew-image:nth-child(2) {
  width: 28%;
  right: 10%;
}

.crew-image:nth-child(3) {
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  width: 33%;
  z-index: 100;
}

.crew-image img {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
