#home {
  background-color: cornflowerblue;
  height: 46vh;
  width: 100%;
}

.bg {
  height: 100%;
  background: url("/images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home-text {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.home-title {
  font-size: 68px;
  letter-spacing: 1.1rem;
}

.home-subtitle {
  font-size: 24px;
  margin-top: 40px;
}
