#signature {
  background-color: var(--light-brown);
  margin-top: 70px;
  display: Flex;
  justify-content: space-between;
}

/* signature-left */

.signature-left {
  width: 50%;
  text-align: center;
}

.signature-left h1 {
  font-weight: 700;
  font-size: 2.3rem;
  letter-spacing: 8px;
  margin-bottom: 60px;
}

.signature-description {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.signature-description h3 {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 4px;
}

.signature-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.signature-btn {
  font-size: 14px;
  margin-bottom: 30px;
}

/* signature-right */

.signature-right {
  width: 50%;
}

.brown-latte {
  background: url("/images/brown-latte.JPG");
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
  cursor: pointer;
  transition: filter 0.2s ease-in;
}

.brown-latte:hover {
  filter: grayscale(0);
}
